
TER-AELOS-2017-2018/.classpath
TER-AELOS-2017-2018/.project
*.class
*.jar
TER-Communication/.classpath
TER-Communication/.project
*.prefs
TER-AELOS-2017-2018/bin/.classpath
TER-AELOS-2017-2018/bin/.project
TER-Transformation/TransModele/.classpath
*.MF
TER-Transformation/TransModele/.project
