/tr.asm
/testTR.asm
/new.asm
/TranfMMUML.asm
/Transformation.asm
/testRefining.asm
/testDrop.asm
/testTransformation.asm
/trf.asm
/trf2.asm
/transformation1.asm
/transformation2.asm
/transformat.asm
/tranfromation2.asm
/transfromation2.asm
/transformation3.asm
/test.asm
/Clean&Move.asm
/CleanMove.asm
/Move.asm
/Clean.asm
/addEnumAttribute.asm
/transformation_2.asm
/transformation_1.asm
/transformation_3_clean.asm
/transformation_4_addEnumAttribute.asm
